@import './base.css';

h1 {
    text-align: center;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    gap: 10px;
}



label {
    font-weight: bold;
}

#application-form input, #application-form
select {
    width: auto;
}
input,
select {
    width:80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    transition: 300ms;
    background-color: #0B6668;
}

.buttonCross{
    background-color: red;
}

.buttonSave{
    background-color: green;
}

.buttonAdd{
    background-color: #0B6668;
}
.buttonAdd:hover, .buttonSave:hover,.buttonCross:hover{
    background-color: #1a1a1a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #0b0b0b48;
}

th, td {
    padding: 10px;
}

th {
    background-color: #ffffff;
    color: hsl(181, 81%, 23%);
    font-weight: 400;
}

td{
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    margin-right: 10px;
}
